<div class="header-menu">
    <div class="btn-group">
        <button type="button" class="btn btn-primary user-button">
          <img src="../../../assets/user-icon-96.png" width="20px" height="20px"/>
          &nbsp;
          <span class="user-name">Adarsh Srivastava</span>
      </button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split user-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
</div>