<div class="nav-side-menu">
  <div class="navbar-brand" href="#">Poll It</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li data-toggle="collapse" 
          data-target="#polls" 
          class="collapsed" 
          [class.active]="primaryUrl==='polls' || primaryUrl===''"
          (click)="redirectTo('/polls')">
        <a>
          <img class="nav-icon" src="../../../assets/poll-icon-100.png" width="25px" height="25px"/>Polls
        </a>
      </li>
      <div data-toggle="collapse" data-target="#loggedInUser" class="collapsed">
        <a>
          <button type="button" class="btn btn-primary user-button">
            <img class="nav-icon" src="../../../assets/login-icon-100.png" width="25px" height="25px"/> Log In / Sign Up
          </button>
        </a>
      </div>
    </ul>
  </div>
</div>